/* Set a white background color and font */
body {
	background-color: #fff;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	margin: 20px;
	padding: 20px;
	font-size: 16pt;
}

/* Header with floating top navigation */
header {
	position: relative;
	background-color: lightblue;
	height: 50px;
	padding: 10px;
	border-radius: 50px;
}

a {
	color: lightseagreen;
}

nav.topnav {
	display: flex;
	justify-content: center;
}

nav.topnav a {
	color: black;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 50px;
	/* Use 50px for a rounded effect */
	transition: background-color 0.3s, border-color 0.3s;
}

nav.topnav a.active {
	background-color: #fff;
	border-color: #fff;
	color: #000;
}

/* Dropdown menu styles */
.dropdown {
	position: relative;
	padding: 3px;
	font-size: 13pt;
	margin: 5px;
	margin-bottom: 2px;
	margin-top: 6px;
}

.dropdown-content {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown-content a {
	color: blue;
	display: block;
	text-decoration: none;
	padding: 5px;
}

.dropdown-content a:hover {
	background-color: lightblue;
}